<div class="doctor-card-wrapper">
    <div class="doctor-card">
        <div>Email : <%= doctors[i]["email"]%></div>
        <div>name : <%= doctors[i]["name"]%></div>
        <div>specialisation : <%= doctors[i]["specialisation"]%></div>
        <div>listoftreatment : <%= doctors[i]["listoftreatment"]%></div>
        <div>workexperience : <%= doctors[i]["workexperience"]%></div>
        <div>qualification : <%= doctors[i]["qualification"]%></div>
        <div>awards : <%= doctors[i]["awards"]%></div>
        <div>location : <%= doctors[i]["location"]%></div>
        <div>avgfees : <%= doctors[i]["avgfees"]%></div>
    </div>
</div>