<div class="hospital-card-wrapper">
    <div class="hospital-card">
        <div>Email : <%= hospitals[i]["email"]%></div>
        <div>name : <%= hospitals[i]["name"]%></div>
      
        <div>listoftreatment : <%= hospitals[i]["listoftreatment"]%></div>
      
        <div>location : <%= hospitals[i]["location"]%></div>
        <div>beds : <%= hospitals[i]["beds"]%></div>
    </div>
</div>